[submodule "packages/catalyst-pluginizr"]
	path = packages/catalyst-pluginizr
	url = https://github.com/thebigrick/catalyst-pluginizr.git
[submodule "plugins/payloadcms"]
	path = plugins/payloadcms
	url = https://github.com/thebigrick/catalyst-payloadcms.git
[submodule "plugins/catalyst-payloadcms"]
	path = plugins/catalyst-payloadcms
	url = https://github.com/thebigrick/catalyst-payloadcms.git
